{% extends "base.html.twig" %}

{% block title %} AppBundle:CreatureFantastique:index {% endblock %}

{% block body %}
<h1>Welcome to the CreatureFantastique:index page</h1>
    {% for creatureFantastique in creatureFantastiques %}
    <div>
        <h2>{{ creatureFantastique.nom }}</h2>
        <p>{{ creatureFantastique.superPower }}</p>
    </div>
    {% endfor %}
{% endblock %}
