{% extends "base.html.twig" %}

{% block title %} AppBundle:CreatureFantastique:index {% endblock %}

{% block body %}
<h1>Welcome to the CreatureFantastique:index page</h1>
    {% for creaturefantastique in creaturefantastiques %}
{% endblock %}
